body {
    background-color: #FAF0E4; /*beige*/
   /*background-color: #5f2660; /*purple*/*/ 
}

nav {
    background-color: #5f2660; 
    color: #ffffff;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0px;
    height: 10vh;
    padding-left: 0px;
}

nav ul li a {
    color: #ffffff;
    font-size: 4vh;
    text-decoration: none;
    letter-spacing: 0.7px;
    padding: 17px 76px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

h3 {
    color: #5f2660;
    font-weight: bold;
    text-align: center;
    font-size: 2.3rem;
    padding: 66px 0px;
    margin: 0px;
}

h2{
    font-style: italic;
}

p{
    color: #471f49;
    font-size: 20px;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 70px 100px rgb(255, 255, 255); 
    border-radius: 140px;
    opacity: 0.9;
    }

.hero-img {
    height: 100vh;
    background-color: #FAF0E4;
    background-image: url("images/lovech.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.lovech{
    display: block;
    color: #5f2660;
    font-size: 30px;
}

#logo-lovech{
    height: 200px;
    margin-right: 20px;
}

.attractions {
    background-color: #FAF0E4;
}

.attractions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 66px;
}

.item-attr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px;
    padding: 10px;
}

.item-attr:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.img-attr{
    width: 200px;
    border: 5px solid #5f2660;
    border-radius: 50%;
}

#month{
    margin-bottom: 0px;
    color: #ffffff;
    align-self: center;
    background-color: #5f2660;
}

.visit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: #5f2660;
    }

.visit-month {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visit-img {
    height: 20rem;
    margin-bottom: 0px;
}

.visit-text{
    color: #ffffff;
    font-size: 20px;
}

/* History page begin */

.history-section {
    display: flex;
    flex-direction: column;
    margin: 5rem 5rem;
    background-color: #FAF0E4;
}

.history-title {
    font-size: 4.6vh;
    color: #783900;
    text-align: left;
    padding: 20px 0px;
}

.wrap-right {
    float: right;
    height: 50vh;
    margin-left: 30px;
    margin-bottom: 10px;
}

.paragraph-history {
    margin: 0px;
    height: 40vh;
    line-height: 3.8vh;
    font-size: 2.8vh;
}
