body {
    /*background-color: #FAF0E4; beige*/
    /*background-color: #ffeede; /*beige*/
    /*background-color: #5f2660; /*purple*/
    font-family: "Lato", sans-serif;
    background: linear-gradient(-90deg, rgb(129, 104, 157), rgb(71, 79, 122), rgb(31, 37, 68));
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.line {
    width: 80%;
    border: 2px solid #9b4a00c4;
    margin-bottom: 65px;
}

.shadow-margin {
    margin: 0px 70px;
    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 70%);
    -moz-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 70%);
    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 70%);
    clip-path: inset(0px -35px 0px -35px);
}

/* NAVIGATION */
nav {
    background-color: #5f2660;
    color: #ffffff;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 70px;
    height: 60px;
    padding-left: 0px;
}

nav ul li a {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 0.7px;
    padding: 15px 60px;
    transition: background-color 0.3s ease;
}

    nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.5);
}

h3 {
    color: #5f2660;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding-bottom: 65px;
    margin: 0px;
}

h2 {
    font-style: italic;
    margin: 10px;
}

p{
    color: #471f49;
    font-size: 20px;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 70px 100px rgb(255, 255, 255); 
    border-radius: 140px;
    opacity: 0.9;
    }

.hero-img {
    height: 100vh;
    background-color: #FAF0E4;
    background-image: url("images/lovech.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.lovech{
    display: block;
    color: #5f2660;
    font-size: 30px;
}

#logo-lovech{
    height: 200px;
    margin-right: 20px;
}

.index-container {
    background-color: #fdf7fa;
    padding-bottom: 65px;
}

.attractions {
    background-color: #fdf7fa;
    padding: 65px 0px;
}

.attractions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-attr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 20px;
}

.item-attr:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.img-attr{
    width: 200px;
    border: 5px solid #5f2660;
    border-radius: 50%;
}

#month {
    color: #5f2660;
    margin-bottom: 0px;
    align-self: center;
    padding-top: 0px;
}

.visit {
    background-color: #fdf7fa;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.visit-month {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visit-img {
    height: 15rem;
    margin: 0 20px;
}

.visit-text {
    color: #5f2660;
    font-size: 20px;
}

/* HISTORY PAGE begin */
.history-section {
    display: flex;
    flex-direction: column;
    background-color: #fdf7fa;
    padding: 20px 60px;
}

.period-container{
    margin-bottom:20px;
}

.history-title {
    font-size: 30px;
    color: #783900;
    text-align: left;
    padding: 20px 0px;
}

#russian-turkish-title{
    margin-top: 40px;
}

.wrap-right {
    float: right;
    height: 20rem;
    margin-left: 30px;
    margin-bottom: 10px;
}

.wrap-left {
    float: left;
    height: 20rem;
    margin-right: 30px;
    margin-bottom: 10px;
}

.paragraph-history {
    margin: 0px;
    line-height: 2rem;
    font-size: 22px;
}

.min-revival {
    min-height: 730px;
}

.min-war {
    min-height: 290px;
}

#levski-img {
    height: 380px;
}

/* GALLERY BEGIN */
#gallery-title{
    color: #5f2660;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

.gallery {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 0 70px;
    background-color: #fdf7fa;
    padding: 20px 60px;
}

.pics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pic-gallery {
    width: 450px;
    height: 300px;
    margin: 15px;
    border: 10px solid #5f2660;
    /*
    filter: grayscale(90%);
    -webkit-filter: grayscale(90%);*/
    transition-duration: 1s;
}

    .pic-gallery:hover {
        border: 10px solid #5f2660;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-filter: none;
        filter: none;
    }


/* VISIT BEGIN */
.best-times-section {
    display: flex;
    flex-direction: column;
    margin: 0 70px;
    background-color: #fdf7fa;
    padding: 20px 60px;
}

h1 {
    color: #5f2660;
    font-size: 50px;
    text-align: center;
    padding: 40px;
    margin: 0px;
}

.date-container {
    margin-bottom: 40px;
}

.visit-title {
    font-size: 35px;
    color: #783900;
    text-align: center;
    padding: 35px 0px;
}

.paragraph-visit {
    margin: 0px;
    line-height: 1.8rem;
    font-size: 22px;
}

.gallery-visit {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 55px;
}

.pic-visit {
    width: 450px;
    height: 300px;
    margin: 15px;
    border: 10px solid #5f2660;
    transition-duration: 1s;
}

    .pic-visit:hover {
        border: 10px solid #5f2660;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-filter: none;
        filter: none;
    }